%section.nav__fixed.j-section-nav
  %nav.nav__box.j-nav__box
    .nav__logo
  %nav.nav__menu.j-nav__menu
    %h6.j-section-nav-close
      X
    %h3.nav__menu-title 
      = link_to 'FACUNDO ELEMENT', "http://facundoelement.com/"

    %ul.nav__menu-list
      %li 
        %h4
          = link_to 'We Do', 'http://facundoelement.com/#introduction'      
      %li 
        %h4
          = link_to 'Our Soul', 'http://facundoelement.com/soul'
      %li 
        %h4
          = link_to 'Projects', 'http://facundoelement.com/projects'
      %li 
        %h4
          = link_to 'Articles', 'http://facundoelement.com/articles'
      %li 
        %h4
          = link_to 'Our Organization', 'http://facundoelement.com/about'
      %li 
        %h4
          = link_to 'Dedication', 'http://facundoelement.com/dedication'
      %li 
        %h4 
          = link_to 'Contact Us', 'http://facundoelement.com/#contact'
      
      %li
        %h4
          = link_to 'Donate Today', 'http://facundoelement.com/donate'
      %li 
        %h4
          %a.nav__menu-social.icon-facebook{:href => "http://facebook.com/facundo.element"}
      %li 
        %h4
          %a.nav__menu-social.icon-twitter{:href => "https://twitter.com/FacundoElement"}
      %li 
        %h4
          %a.nav__menu-social.icon-youtube{:href => "http://www.youtube.com/user/FacundoElement/videos"} 
      %li 
        %h4
          %a.nav__menu-social.icon-email{:href => "mailto:facundoelement@gmail.com"}