%section.nav__fixed.j-section-nav
  %nav.nav__box.j-nav__box
    .nav__logo
  %nav.nav__menu.j-nav__menu
    %h6.j-section-nav-close
      X
    %h3.nav__menu-title 
      = link_to 'FACUNDO ELEMENT', "/"

    %ul.nav__menu-list
      %li 
        %h4
          = link_to 'With You', '#introduction'      
      %li 
        %h4
          = link_to 'Our Soul', 'soul'
      %li 
        %h4
          = link_to 'Projects', 'projects'
      %li 
        %h4
          = link_to 'The Organization', 'about'
      %li 
        %h4
          = link_to 'Dedication', 'dedication'

      %li.block-donate
        %h4 
          = link_to 'Donate Today', '../fe/'