- wrap_layout :layout do
  .projectsingle__splash{:style => "background : url('/projects/#{current_page.data.title}/#{current_page.data.splashimage}') center center no-repeat;"}
    .projectsingle__box
      .row
        .small-12.columns
          %h1.projectsingle__title
            = current_page.data.title
%section.projectsingle__infobar
  .row
    .small-3.columns
      .projectsingle__playbutton
    .small-9.columns
      .button.secondary.radius.projectsingle__donate
        Support this project
%section
  .row
    .small-12.columns
      %h2.is-text__centered
        = current_page.data.summary  
      = yield

%section
  .row
    .small-12.columns
      .block-branch
      = current_page.data.branch

.section.section-background__textured
  .row
    .small-12.columns
      %h2.is-text__centered
        = link_to 'Back to Projects', '/projects.html'