= wrap_layout :layout do
  .row
    .small-12.columns
      %h1 PROJECT
  .row
    .small-12.columns
      = yield
  
  .row
    .small-10.columns.panel
      - blog.articles[0...5].each do |article|
        %article
          %h1
            %a{:href => article.url}= article.title
          %time= article.date.strftime('%b %e, %Y')
          %p= article.data.teaser
          %p
            %a{:href => article.url} Read more.
